header {
  align-items: center;
  height: 80px;
  text-align: center;
  background: #ffffff;
  font-size: 15px;
}
.container {
  height: 100%;
  background: red;
  width: 100%;
  padding: 0;
}
.flex-horizontal {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin: 0;
  padding-inline-start: 0;
}
.add-post-icon {
  background-image: url("https://pantip.com/static/images/pantip_icon/icon-add_post.png");
}
.icon {
  font-size: 20px;
}
.icon-text {
  margin-left: 6px;
}
.no-bullet {
  list-style: none;
}
#main-select-bar {
  background: #03f013;
  height: 60px;
}
#page-container {
  position: relative;
  min-height: 100vh;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  margin: 10px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
}
#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
  height: 60px;
  padding: 0;
  background: #f4ff75;
  height: 100%;
  overflow: hidden;
}
#footer {
  position: fixed;
  bottom: 0;
  background: #03f013;
  height: 2.5rem;
  z-index: 1;
}
#search-bar-container {
  width: 60%;
  margin-left: 20px;
}
#search-bar {
  border-radius: 25px;
  height: 2rem;
  color: gray;
  width: 70%;
}
#navbar-list {
  margin-right: 20px;
}
#navbar-left-container {
  width: 15%;
}
#navbar-center-container {
  width: 45%;
}
#navbar-right-container {
  width: 40%;
}
#bar {
  font-size: 25px;
}
