body {
  margin: 0;
  padding: 0;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  min-height: 100vh;
  font-size: 14px;
}
.container {
  width: 10vh;
}
header > input {
  font-weight: bold;
}
#grid-container {
  display: grid;
  grid-template:
    "button advert" 1fr
    "main advert" 11fr
    / 3fr 1fr;
  border: 1px solid black;
}

#main-button {
  display: flex;
  align-content: space-between;
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-area: button;
  border-bottom: 1px solid #000;
}
#main-items {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: flex-start;
  text-align: center;
  /* border: 1px solid black; */
  grid-area: main;
  margin-left: 30px;
}
.main-flex-item {
  text-align: center;
  align-items: center;
  align-content: center;
  width: 50px;
  height: 200px;
  flex-basis: 45%;
  border: 1px solid #000;
}
#main-advertisement {
  display: flex;
  gap: 30px;
  flex-direction: column;
  border: 1px solid black;
  padding: 20px;
  justify-content: center;
  grid-area: advert;
}
.main-icon {
  /* border: 1px solid black; */
  width: 80px;
  height: 50px;
  text-align: center;
  justify-content: center;
  padding: auto;
  align-items: center;
  align-content: center;
  height: 1rem;
  line-height: 1rem;
  font-size: 12px;
}
footer {
  height: 50px;
  font-size: 10px;
  bottom: 0;
  height: 60px;
  width: 100vw;
  border: 1px solid black;
}
#main-advertisement > img {
  width: 80%;
  margin: auto;
}
#header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid black; */
  width: 100%;
  height: 40px;
  align-content: center;
}
header.flex-row-container {
  height: 100%;
}
#pantip-icon {
  width: 90px;
  background-color: blue;
}
#search-bar {
  border-radius: 50px;
  width: 20%;
  height: 2rem;
}

.flex-row-container {
  width: 100%;
  /* gap: 10px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  text-align: center;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 0;
  margin-left: 0;
  list-style-type: none;
}

main > ul {
  margin-left: auto;
  margin-right: auto;
}

#main-select-button ul {
  gap: 20px;
}
#header > ul {
  width: 40%;
  gap: 10px;
  /* border: 1px solid black; */
}

#header li {
  /* border: 1px solid black;    */
  margin-right: 20px;
  text-align: center;
}
menu {
  font-size: 5px;
  width: 50px;
}
#header li a {
  display: inline-block;
  color: #000;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
#search-bar-expanded {
  display: grid;
  border: 1px solid black;
  width: 100%;
  height: 60px;
  text-align: center;
}
main {
  border: 1px solid black;

  /* height: 100%; */
}
/* #main-search-button {
  display: flex;
  border: 1px solid black;
  width: 100%;
  height: 60px;
  text-align: center;
} */

header > img {
  width: 100%;
}
